<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327869118861-d6h1nepseoinqil738quls4lg4mlejpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327869118861-d6h1nepseoinqil738quls4lg4mlejpq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>327869118861-2nd83o3gt9j9bkrdvld6a56ks6gmkg9r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzmf3lQVVNRpaGNF9wYqecqAnteLSyrUA</string>
	<key>GCM_SENDER_ID</key>
	<string>327869118861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.egyptEye</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-f4107</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-f4107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327869118861:ios:594d5a9f36b4e303f4e5c4</string>
</dict>
</plist>